<mat-toolbar>
   
    <mat-toolbar-row>
        <nav class="navbar">
            <span><a routerLinkActive='active' class="navbar-brand" href=""></a>INICIO</span>
            
            <span><a routerLinkActive='active' class="navbar-brand" href="">MIS ALUMNOS </a></span>
            <span><a routerLinkActive='active' class="navbar-brand" href="">MIS PLANES DE ENTRENAMIENTO </a></span>
            <span class="example-spacer"></span>
            <span><a routerLinkActive='active' class="navbar-brand" href="">Usuario </a></span>
            <span><a routerLinkActive='active' class="navbar-brand" href="">Cerrar sesión </a></span>
        </nav>
    </mat-toolbar-row>
    <mat-toolbar-row id="info">
        <h4>SEPAV > Plan de entrenamiento</h4>
    </mat-toolbar-row>
</mat-toolbar>